
<div class="container_left">
  <div class="logo">
    <h1>Chí linh Tour</h1>
    <p>Địa linh nhân kiệt</p>
  </div>
  <div class="content_menu">
    <div class="dropdown">
      <button class="btn btn-secondary " type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
            <img src="../../../assets/image/food.png" alt=""/>
              <p>Quản lý nhà hàng</p>
          </button>
      <div class="dropdown-menu" aria-labelledby="triggerId">

        <a class="dropdown-item" href="/restaurant" >Danh sách nhà hàng</a>
        <a class="dropdown-item "[routerLink]="['/restaurant/create']" routerLinkActive="router-link-active" >Thêm nhà hàng</a>

      </div>
    </div>
    <div class="dropdown">
      <button class="btn btn-secondary " type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
            <img src="../../../assets/image/food.png" alt=""/>
              <p>Quản lý khách sạn</p>
          </button>
      <div class="dropdown-menu" aria-labelledby="triggerId">
        <a class="dropdown-item" [routerLink]="['/hotel']" >Danh sách khách sạn</a>
        <a class="dropdown-item "[routerLink]="['/hotel/create']">Thêm khách sạn mới</a>

      </div>
    </div>
    <div class="dropdown">
      <button class="btn btn-secondary " type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
            <img src="../../../assets/image/influencer.png" alt=""/>
              <p>Quản lý Sự Kiện</p>
          </button>
      <div class="dropdown-menu" aria-labelledby="triggerId">
        <a class="dropdown-item" [routerLink]="['/event']">Danh sách Sự kiện </a>
        <a class="dropdown-item " [routerLink]="['/event/create']">Thêm Sự Kiện</a>

      </div>
    </div>
    <div class="dropdown">
      <button class="btn btn-secondary " type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
            <img src="../../../assets/image/location.png" alt=""/>
              <p>Quản lý địa điểm tham quan</p>
          </button>
      <div class="dropdown-menu" aria-labelledby="triggerId">
        <a class="dropdown-item" [routerLink]="['/sightsee']">Danh sách tham quan</a>
        <a class="dropdown-item " [routerLink]="['/sightsee/create']">Thêm địa điểm mới</a>

      </div>
    </div>
    <div class="dropdown">
      <button class="btn btn-secondary " type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
            <img src="../../../assets/image/location.png" alt=""/>
              <p>Quản lý địa điểm Mua Sắm</p>
          </button>
      <div class="dropdown-menu" aria-labelledby="triggerId">
        <a class="dropdown-item" [routerLink]="['/shop']">Danh sách Địa Điểm Mua Sắm</a>
        <a class="dropdown-item " [routerLink]="['/shop/create']">Thêm địa điểm mới</a>

      </div>
    </div>
  </div>
</div>
