


<ng-container *ngIf=" event$ ">
  <div class="container_right">
  <form [formGroup]="formEit" style="display:flex;flex-direction:column; height: 90%;" (ngSubmit)="edit()" >
      <div class="item_input" >
        <samp class="title_input">Mã Sự Kiện</samp>
      <div class="form-group">
        <input type="text" class="form-control" formControlName="id" [(ngModel)]="event$.id" />
      </div>

    </div>
    <div class="item_input">
      <samp class="title_input">Tên Sự Kiện</samp>
      <input type="text" class="form-control" formControlName='name' [(ngModel)]="event$.name" />
    </div>
    <div class="item_input textarea">
      <samp class="title_input">Mô tả</samp>
     <textarea formControlName='description' class="form-control" cols="30" rows="10" [(ngModel)]="event$.description" ></textarea>
    </div>
    <div class="item_input">
      <samp class="title_input">Ngày bắt Đầu</samp>
      <input type="date" class="form-control" formControlName='dateStart' [(ngModel)]="event$.dateStart" />
    </div>
    <div class="item_input">
      <samp class="title_input">Ngày Kết thúc </samp>
      <input type="date" class="form-control" formControlName='dateEnd' [(ngModel)]="event$.dateEnd" />
    </div>
    <div class="item_input">
      <samp class="title_input">Ảnh địa danh </samp>
    <div class="listimage">

    <img *ngFor="let url of image " [src]="url" style="height: 200px;height:200px; margin-right:10px; margin-top: 10px;" />
  </div>
    </div>

<div class="buttom_group" >

  <input hidden type="file" multiple (change)="OnFileChange($event)" #chooe />
  <button type="button" class="btn " (click)="chooe.click()" style="background-color:rgb(49, 86, 250);font-weight: bold; color: rgb(255, 255, 255);">Thay đổi ảnh</button>

    <button type="submit" class="btn " style="background-color:rgb(49, 86, 250);font-weight: bold; color: rgb(255, 255, 255);">Chỉnh sửa</button>
  </div>
    </form >

  </div>

</ng-container>


