<div class="container-fluid">
  <main class="main">
    <div class="container_left">
      <img src="../../../assets/image/chilinh.jpg" height="96%" width="90%"/>
      <h1>Chí Linh Tour</h1>
      <p>chí linh đia linh nhân kiệt</p>
    </div>
    <div class="container_rigth">
      <div class="box">
        <h2>Login</h2>
        <form>
          <samp class="TextInput">
            <input type="email" name="" id=""  placeholder="Nhập tài khoản"/>
          </samp>

          <samp class="TextInput">
            <input type="password" name="" id="" placeholder="Nhập mật khẩu" />
          </samp>
          <button type="submit">Đăng Nhập</button>
        </form>
      </div>
    </div>
  </main>
</div>
