<div class="container-fluid">
  <main class="main">


      <div class="box">
        <h2>Login</h2>
        <form [formGroup]="formlogin" (ngSubmit)='login()' >
          <samp class="TextInput">
            <input type="email"  formControlName="username"  placeholder="Nhập tài khoản"/>
          </samp>

          <samp class="TextInput">
            <input type="password" formControlName="password" placeholder="Nhập mật khẩu" />
          </samp>
          <button type="submit">Đăng Nhập</button>
        </form>

    </div>
  </main>
</div>
