/* You can add global styles to this file, and also import other style files */
*{
  padding: 0;
  margin: 0;
}
@font-face{
  src: url(./assets/Pacifico-Regular.ttf);
  font-family:Pacifico;
}
@font-face{
  src: url(./assets/font/Roboto-Medium.ttf);
  font-family: roboto;
}
.container-fluid{
  display: flex;

  flex-direction: row;
  height: 60rem;
}

